* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

html {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-weight: 300;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

p {
  font-size: 16px;
  line-height: 27.5px;
  margin-bottom: 1em;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

.wrapper {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 1000px;
}

#intro h1 {
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: double rgb(255 255 255);
}

#intro p {
  margin-top: 1em;
  line-height: 30px;
}

#last-updated-text,
.event-date.happening-today {
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(
    90deg,
    rgba(186, 148, 62, 1) 0%,
    rgba(236, 172, 32, 1) 20%,
    rgba(186, 148, 62, 1) 39%,
    rgb(176, 172, 121) 50%,
    rgba(186, 148, 62, 1) 60%,
    rgba(236, 172, 32, 1) 80%,
    rgba(186, 148, 62, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;
}

@keyframes shine {
  to {
    background-position: right;
  }
}

input[type="search"] {
  width: 100%;
  height: 60px;
  margin-top: 1em;
  border: none;
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 55%) 0 6px 18px;
  background-color: #e4e4e4;
  font-size: 1.3em;
  padding: 17px 0 17px 18px;
  outline: none;
}

hr {
  margin: 1em 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

#no-results-found {
  margin-top: 1em;
}
#events-header {
  position: relative;
  display: inline-block;
  color: rgb(0 0 0);
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: 3em;
}

.event-wrapper {
  transition: all 0.2s ease-in-out;
}

.event {
  margin-top: 1.3em;
  background-color: #2d71b5;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.5em;
}

.event p {
  color: #fff;
}

.event-hover {
  display: none;
}

.event.happening-today {
  --border-width: 3px;
  position: relative;
  align-items: center;
  color: white;
  background: #222;
  border-radius: var(--border-width);
}

.event.happening-today::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #2d71b5,
    #7f49b9,
    #ba3c9d,
    #af3c3e,
    #366799,
    #316ba5,
    #3171b2,
    #2d71b5
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 10s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.event hr {
  width: 30%;
}

.event-link {
  text-decoration: none;
}

.event-title {
  font-size: 20px;
  color: rgb(255 255 255);
}

.event-subtitle {
  font-size: 16px;
  color: rgb(233, 233, 233);
}

.event-venue-date-wrapper {
  margin-top: 0.5em;
}

.event-venue {
  color: rgb(217 217 217);
}

.event-date {
  color: rgb(217 217 217);
  display: inline-block;
}

/* button design by Dribbble */
.button-wrapper {
  margin-top: 2em;
}

#submit-button {
  display: none;
}

button[type="submit"] {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgb(27 31 35 / 15%);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 20px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

#search-bar-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1em;
}

button[type="submit"]:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button[type="submit"]:disabled {
  background-color: #fafbfc;
  border-color: rgb(27 31 35 / 15%);
  color: #959da5;
  cursor: default;
}

button[type="submit"]:active {
  background-color: #edeff2;
  box-shadow: rgb(225 228 232 / 20%) 0 1px 0 inset;
  transition: none 0s;
}

button[type="submit"]:focus {
  outline: 1px transparent;
}

button[type="submit"]::before {
  display: none;
}

button[type="submit"]:-webkit-details-marker {
  display: none;
}

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.filter-button {
  appearance: none;
  appearance: none;
  appearance: none;
  margin: 1em 0.5em 0.5em 0;
  background-color: #e4e4e4;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  cursor: pointer;
  user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.filter-button:hover {
  background-color: rgb(249 250 251);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  transition-duration: 0.1s;
}

.filter-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter-button:focus-visible {
  box-shadow: none;
}

#clear-filters-button,
#clear-filters-button-fake {
  appearance: none !important;
  margin: 0 0 0.5em;
  align-items: center;
  background-color: #2d71b5;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  user-select: none;
  vertical-align: middle;
}

#clear-filters-button:hover,
#clear-filters-button:focus {
  background-color: #22588d;
  color: #fff;
}

#clear-filters-button:active {
  background: #09223b;
  color: rgb(255 255 255 / 70%);
}

#clear-filters-button:disabled {
  cursor: not-allowed;
  background: rgb(0 0 0 / 8%);
  color: rgb(0 0 0 / 30%);
}

#clear-filters-button-fake {
  margin: 0;
  pointer-events: none;
  appearance: none;
  appearance: none;
}

.free {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(0 149 255), 0 0 80px rgb(0 149 255), 0 0 90px rgb(0 149 255),
    0 0 100px rgb(0 149 255), 0 0 150px rgb(0 149 255);
}

#To-Top-Button {
  display: none;
  position: fixed;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px, rgb(0 0 0 / 12%) 0 -12px 30px,
    rgb(0 0 0 / 12%) 0 4px 6px, rgb(0 0 0 / 17%) 0 12px 13px,
    rgb(0 0 0 / 9%) 0 -3px 5px;
}

#To-Top-Button::after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#To-Top-Button:main,
#To-Top-Button:focus {
  user-select: auto;
}

#To-Top-Button:hover:not(:disabled) {
  filter: brightness(1.1);
  filter: brightness(1.1);
}

#To-Top-Button:disabled {
  cursor: auto;
}

#why-button {
  margin-top: 1em;
  align-items: center;
  background-color: #2d71b5;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  user-select: none;
  vertical-align: middle;
}

#why-button:disabled {
  cursor: not-allowed;
  background: rgb(0 0 0 / 8%);
  color: rgb(0 0 0 / 30%);
}

#modal-heading {
  color: #2d71b5;
  margin-bottom: 1rem;
  font-size: 2.2em;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.05s;
}

.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: rgb(0 0 0);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

#search-bar {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  margin-top: 1.5em;
  z-index: 99;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #cbcbcb;
}

.autocomplete-items div:hover {
  background-color: #3079c3;
}

.autocomplete-active {
  background-color: #2d71b5 !important;
  color: #ffffff;
}

@media (hover: hover), (-ms-high-contrast: none) {
  .event-wrapper:hover {
    transform: scale(1.05);
  }

  .event-hover {
    padding-right: 0.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: #1e4d7b;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 0.5em;
  }

  .event:hover .event-hover {
    visibility: visible;
    opacity: 0.8;
  }

  .event p {
    color: #fff;
  }

  .event:hover p {
    color: #fff;
  }

  .close:hover {
    opacity: 0.3;
  }

  #why-button:hover,
  #why-button:focus {
    background-color: #16437e;
    color: #fff;
  }

  #why-button:active {
    background: #09223b;
    color: rgb(255 255 255 / 70%);
  }

  #submit-button {
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgb(27 31 35 / 15%);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }

  #search-bar-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1em;
  }

  #submit-button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  #submit-button:disabled {
    background-color: #fafbfc;
    border-color: rgb(27 31 35 / 15%);
    color: #959da5;
    cursor: default;
  }

  #submit-button:active {
    background-color: #edeff2;
    box-shadow: rgb(225 228 232 / 20%) 0 1px 0 inset;
    transition: none 0s;
  }

  #submit-button:focus {
    outline: 1px transparent;
  }

  #submit-button::before {
    display: none;
  }

  #submit-button:-webkit-details-marker {
    display: none;
  }

  .autocomplete-items {
    margin-top: 1.5em;
  }
}
@media (min-width: 1520px) {
  #To-Top-Button {
    right: 170px; /* Place the button 30px from the right */
  }
}
