<!DOCTYPE html>
<html>

<head>
    <title>Juilcal | Keyword Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">
        <div id="intro">
            <h1>Juilcal - Juilliard Calendar Search</h1>
            <p>
                Search the Juilliard performances calendar by case-insensitive keyword (ex. "chamber music", "october",
                "drama"). Leave the search bar blank to see all events.
            </p>
            <p>
                The results are taken directly from Juilliard's website and updated every day. Performance times are
                based on EST.
            </p>
        </div>
        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#2D71B5"
                    d="M44.2,-76.2C55.8,-69.8,62.7,-55,70.2,-40.9C77.7,-26.8,85.9,-13.4,85.3,-0.4C84.6,12.6,75.2,25.3,66.2,36.9C57.2,48.5,48.8,59.2,37.8,68.9C26.9,78.7,13.4,87.6,-0.4,88.3C-14.2,89,-28.5,81.5,-40.3,72.3C-52.2,63,-61.7,52,-69.4,39.7C-77.1,27.4,-83.1,13.7,-83.5,-0.2C-83.9,-14.2,-78.7,-28.3,-70.4,-39.5C-62,-50.7,-50.3,-58.9,-38.1,-64.8C-25.8,-70.8,-12.9,-74.5,1.7,-77.5C16.3,-80.4,32.6,-82.5,44.2,-76.2Z"
                    transform="translate(100 100)" />
            </svg>
        </div>
        <form>
            {% if not q %}
            <input type="search" name="q" placeholder="Search">
            {% else %}
            <input type="search" name="q" placeholder="Search" value="{{q}}">
            {% endif %}
            <div class="button-wrapper">
                <button type="submit">Search</button>
            </div>
        </form>
        
        <!-- https://alvarotrigo.com/blog/css-text-animations/ -->
        <div class="results">
            <h1 id="events-header">
                {{ now.year }} - {{ now.year + 1 }} Season
            </h1>
            {% if not results %}
            <p>No results found.</p>
            {% else %}
            <ul>
                {% for result in results %}

                <li>
                    <ul class="event">
                        <li class="event-title">
                            {{ result[2]}}
                        </li>
                        <li class="event-date">
                            {{ result[1]|datetimeformat}}
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>