<!DOCTYPE html>
<html>

<head>
    <title>Juilcal | Keyword Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrapper">
        <div id="intro">
            <h1>Juilcal - Juilliard Calendar Search</h1>
            <p>last modified {{ modificationTime }}</p>
            <p>
                Search the Juilliard performances calendar by case-insensitive keyword (ex. "chamber music", "october",
                "drama"). Leave the search bar blank to see all events.
            </p>
            <p>
                The results are taken directly from Juilliard's website and updated every day. Performance times are
                based on EST.
            </p>
        </div>
        <form>
            {% if not q %}
            <input type="search" name="q" placeholder="Search">
            {% else %}
            <input type="search" name="q" placeholder="Search" value="{{q}}">
            {% endif %}
            <div class="button-wrapper">
                <button type="submit">Search</button>
            </div>
        </form>
        
        <div class="results">
            <h1 id="events-header">
                {{ now.year }} - {{ now.year + 1 }} Season
            </h1>
            {% if not results %}
            <p>No results found.</p>
            {% else %}
            <ul>
                {% for result in results %}

                <li>
                    <ul class="event">
                        <li class="event-title">
                            {{ result[2]}}
                        </li>
                        <li class="event-date">
                            {{ result[1]|datetimeformat}}
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>